.text-red {
    color: red;
}

.dark {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.light {
    background-color: rgba(255, 255, 255, 0.795);
    color: #000;
    font-weight: bold;
}